.dropdown {
  display: inline;
  padding-left: 15px;
}

.newIssueBtn {
  float: right;
  padding-right: 15px;
}

fieldset {
  display: inline-flex;
  vertical-align: top;
}

#filterDropDown {
  #filterOptions {
    width: 500px;
  }
}
